numpy==1.24.1
pandas==1.5.3
scipy==1.10.0
scikit_learn==1.2.1
catboost==1.1.1
xgboost==1.7.3
lightgbm==3.3.5
torch==1.13.1
matplotlib==3.6.3
seaborn==0.12.2
jupyterlab==3.6.1
pyarrow==10.0.1
fire==0.5.0
loguru==0.6.0
